@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

:root{
    --main-bg-color :#2874f0 ;
}
*{
    padding: 0;
    margin: 0;
}
header{
    background-color: var( --main-bg-color);
    font-family: 'Lato',sans-serif;
}

nav{
    display: flex;
   
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 88px;
    padding: 25px;
}

nav ul{
    height: 8vh;
    display: flex;
    justify-content: flex-start;
   
} 

nav ul li{
    list-style: none;
    padding: 023px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    
}

nav ul li a:hover{
    font-weight: bolder;
}


.search{
    display: flex;
    align-items: center;
   
}

.search input{
    width: 496px;
    height: 23px;
    border-radius: 2px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}

.card-items{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
    
}

.container{
    min-height: calc(100vh - 58px - 12vh);

}

.card{
    max-width: 90vw;
    margin:37px auto;
}

.cards{
    display: flex;
    justify-content: left;

}

.class h2{
    font-family: 'Roboto Mono', monospace;
}

.slider{
    overflow: hidden;
    width: 80vw;
    margin: 12px auto;
}

footer{
    height: 12vh;
    background-color: var( --main-bg-color);
    color: white;
}